<!DOCTYPE html>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/assets/css/custom.css" rel="stylesheet">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
{{ if .success }}
  <div class="alert alert-success" role="alert">
    {{ .success }}
  </div>
{{ end }}
{{if .error}}
  <div class="alert alert-danger" role="alert">
    {{ .error }}
  </div>
{{end}}
  <div class="container register-form">
    <form method="POST" action="/">
      <div class="form">
        <div class="note">
          <p>URL Shorter</p>
        </div>

        <div class="form-content">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your url" name="url" value=""/>
              </div>
              <button type="submit" class="btnSubmit">Submit</button>
              <div class="form-group">
                {{if .short_url}}
                  <p>{{.short_url}}</p>
                {{end}}
                <!-- <input type="password" class="form-control" placeholder="密碼" name="pass" value=""/> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
</html>